.start{
    border-radius: 60%;
    border-width: 3px;
    border-color: yellow;
}
button {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    border-color:black;
}

table {
    border: 50px solid black;
  }


td {
  border: 5px solid black;
}